## for more options see
## - example.borg
## - http://borgbackup.readthedocs.io/en/stable

[source]
{% for target in backup_sources %}
include = {{ target }}
{% endfor %}

## for more info see : borg prune -h
prune = yes
keep = "200d"

[dest]
directory = /home/{{ external_backup_user }}/backup
host = {{ backup_host }}
port = {{ backup_host_ssh_port }}
user = {{ external_backup_user }}
archive = {now:%Y-%m-%dT%H:%M:%S}
compression = zlib
encryption = repokey
passphrase = {{ backup_encryption_pass }}
